---
layout: default
title: Lotus Elise S1&#58; бортовой журнал
---
        <div class="site-wrapper--big">

            <div class="introduction">
                <h1>Lotus Elise S1</h1>
                <h2>Бортовой Журнал</h2>
            </div>

            <div class="site-wrapper--small">

				<div class="timeline">
				{% for post in site.posts %}
					{% if post.category == 'timeline' %}
					    <div class="post__timeline {{ post.tags | join:' ' }}">
					    	<div class="timeline__meta">
								<time datetime="{{ post.date }}">
									{{ post.date | date: "%B" }}<small>{{ post.date | date: "%Y" }}</small>
								</time>	
							</div>
							<div class="timeline__body">
								{% if post.quote %}
									{{ post.content }}
									<blockquote>
										<span class="quote">&#8220;<br>&#8221;</span>
										<p>{{ post.quote }}</p>
									</blockquote>
								{% else %}
									{{ post.content }}
								{% endif %}
							    <hr>
							</div>
					    </div>
					{% endif %}
				{% endfor %}
				</div>

                {% include copy.html %}

            </div>
        </div>
