<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        {% if page.url == "/404.html" %}
            <meta http-equiv="refresh" content="4; url=/">
        {% endif %}

        <script type="text/javascript" src="//use.typekit.net/wdc5mpn.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        
        <link rel="stylesheet" href="{{ site.url }}/css/style3.css">
        <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    </head>
    <body>
                {{ content }}
    </body>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#filterDesign,#filterPhoto,#filterVideo,#filterArticle,#filterPersonal,#filterOff').click(function(e) {
                var filterSelect = "#" + this.id,
                    compare = this.id.substring(6).toLowerCase().toString(),
                    post = $('.post__timeline'),
                    post2 = $('.post__inspiration');

                post.fadeOut(800);
                post2.fadeOut(800);

                $('.filters__categories').children().removeClass('active');
                $(filterSelect).addClass('active');

                if (compare === "off") {
                    post.fadeIn(800);
                    post2.fadeIn(800);
                }
                else {
                    post.filter('.' + compare).fadeIn(800);
                    post2.filter('.' + compare).fadeIn(800);
                };

                e.preventDefault();
            });
        });
    </script>

    <!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter23809249 = new Ya.Metrika({id:23809249,
                    clickmap:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/23809249" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

</html>